//COLORS
// $color-wapper-from:#6009FE;
// $color-wapper-to:#FF63C1;
$color-wapper-from:#10213F;
$color-wapper-to:#273655;
$gadget-color:#1EB5E4;
$background-color:#273655;
//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
//CONSOLE
$button-height: 2rem;
$title-font-size: 1.2rem;
$title-top: 9rem;
$title-color: #000;
$icon-top: 3rem;
$icon-size: 5rem;
$icon-background-color: #d3d3d3;
// $main-color:#6f3381;
$card-img-color:#d3d3d3; //#4d3a59
$main-color:#243350; //#4d3a59
$border-radius:1rem;
$img-size:22rem;
$card-background:#243350; //#E1DaD9
$hover-background:#243350; // #E1DaD9
//LOGIN
// $login-main-color:#77428d;
// $login-background-line-color-1:#3c2f41;
// $login-background-line-color-2:#b28fce;
$login-main-color:#374866;
$login-background-line-color-1:#0E2142;
$login-background-line-color-2:#10306D;
//FOOTER
$background-dark:#333;
//CARD
$card-cv-front:#F3F3F3;
$card-cv-back-light:#E8B7D4;
$card-cv-back-dark:#A5678E;
$card-nlp-back-light:#BCC7F4;
$card-nlp-back-dark:#8988C4;
$card-md-back-light:#A5C5BA;
$card-md-back-dark:#516C5D;
$color-white:white;
//BTNCOLOR
$btn-red:#b40000;
$btn-blue:#176baa;
$btn-green:#729600;
//MAINPARTCOLOR
$console-dark:#0E2143;
$console-light:#243350;