.chart_visiable {
    // width: 100%;
    font-family: 'Times New Roman', Times, serif;
    height: 88vh;
    &--header {
        display: grid;
        // margin: 2rem;
        &__left {
            height: 7vh;
            display: grid;
            grid-template-columns: 30% auto 30%;
            padding: 1vh 2rem 1vh 2rem;
            margin-bottom: 2vh;
            background-color: $console-dark;
            &--dropdown {
                display: flex;
                align-items: center;
            }
            .el-dropdown-menu.el-dropdown-menu--default {
                background-color: $console-light;
            }
            .el-dropdown-menu {
                background-color: $console-light !important;
                // height: 10rem;
                width: 20rem;
                // border-color: ##1F1E23 !important;
                li {
                    font-size: 1.5rem;
                    color: gray;
                }
                li:hover {
                    background-color: $console-light !important;
                    color: #f2f2f2 !important;
                }
            }
        }
        &__text {
            font-size: 2rem;
        }
        &__search {
            display: flex;
            align-items: center;
            &__button {
                outline: .15rem solid #2B2A2F;
                outline-offset: .7rem;
                border-radius: 2rem;
                font-size: 2rem;
                line-height: 1;
                // border: .1rem solid white;
                margin-left: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    outline: .15rem solid white;
                }
            }
        }
    }
    &--bottom {
        height: 79vh;
        background-color: $console-dark;
        &__fullscreen {
            position: fixed;
            left: -17vw;
            top: 0vh;
            height: 88vh;
            width: 97vw;
            background-color: $console-dark;
        }
    }
    &--fullscreenbutton {
        position: absolute;
        left: 1.5rem;
        top: -3.5rem;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2.5rem;
        color: #f2f2f2;
    }
    &--columns-1-2-1 {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }
    &--columns-1 {
        display: grid;
        grid-template-columns: 100%;
    }
    &--columns-1-2 {
        display: grid;
        grid-template-columns: 33% 67%;
    }
    &--columns-2-3 {
        display: grid;
        grid-template-columns: 40% 60%;
        margin-top: 5rem;
    }
    &--columns-3 {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}