@mixin --img-wapper($path) {
    background-image: linear-gradient(to right bottom, rgba($color-wapper-from, 0.7), rgba($color-wapper-to, 0.2)), url($path);
    background-size: cover;
    background-position: center;
}

.section_no_background {
    height: 100vh;
    z-index: -100;
    background-color: $background-color;
    position: relative;
    // margin-top: -10vh;
    padding-top: 3vh;
}