.single-page {
    background-color: $console-light;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    &--main-window {
        // background-color: white;
        margin: 2vh 2vw;
        height: 88vh;
        // background-image: url('../img/sky.jpg');
        // background-size: cover;
        // background-position: bottom;
    }
    &--video-background {
        object-fit: cover;
        height: 90vh;
        width: 100%;
    }
    &--background {
        // object-fit: cover;
        height: 88vh;
        width: 100%;
        background-color: $console-light;
    }
    .console {
        position: absolute;
        width: 88%;
        right: 0;
        bottom: 0rem;
        top: 0rem;
        // background-color: #1F1E23;
    }
    .color-page {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80vh;
        width: 100%;
        background-color: #2D2D2D;
    }
    .aside-tool {
        width: 10%;
        height: 100%;
        background-color: $console-dark;
    }
}