.u-center-text {
    text-align: center;
}

.u-wid-max {
    width: 100%;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-top-medium {
    margin-top: 4rem;
}

.u-margin-right-1rem {
    margin-right: 1rem;
}

.u-margin-left-1rem {
    margin-left: 1rem;
}

.u-padding-top-medium {
    padding-top: 4rem;
}

.u-10rem-height {
    height: 10rem;
}

.u-large-btn-font {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 90%;
    // padding: 0 1rem;
}

.u-input-dark {
    background-color: $console-light;
    color: #f2f2f2;
}

.u-input-light {
    background-color: #f2f2f2;
    color: #1F1E23;
}

.u-input-transparent {
    background-color: transparent;
    color: #f2f2f2;
    border-color: $icon-background-color;
}

.u-menu_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    li {
        width: 100%;
    }
}

.u-flex-center {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.u-fontsize-3rem {
    font-size: 3rem;
}

.u-font-f2f2f2 {
    color: #f2f2f2;
}

.u-small-ball {
    margin-left: 4rem;
    height: 1.3rem;
    width: 1.3rem;
}

.u-margin-left-2rem {
    margin-left: 2rem;
}

.u-scroll-snap-align {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.u-flex-center_ {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-background-color-active {
    background-color: #00935D !important;
    color: #f2f2f2;
}

.u-border-color-active {
    border-color: #4CAF50;
    color: #f2f2f2;
    background-color: #3B4F76;
}